@import '../reset.scss';

.Card {
  align-content: center;
  margin: auto;
  font: 300 12px Lato, Helvetica;
  width: 85%;
  padding: 20px 15px;
  border-radius: 4px;
  color: #444a52;
  margin-bottom: 10px;
  position: relative;
  h4 {
    font-size: 14px;
    font-weight: 400;
    width: 45px;
  }
  h5 {
    position: absolute;
    bottom: 6px;
    right: 10px;
    font-weight: 400;
  }
}

.Orange {
  border: solid orange 1px;
  background-color: #fdf0dc;
}

.Green {
  border: solid #44b203 1px;
  background-color: #e0ffcb;
}

.Silver {
  border: solid #aaabaf 1px;
  background-color: #f6f7fb;
}